body {
  background: gray;

}

header {
  text-align: center;
  background: black;
  margin: 15px;
  padding: 15px;
}
/*centers main text */


section {
  margin: 75px;
  text-align: center;
}
/*profile image: rounded */
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 50%;
  width: 250px;
  height: auto;
}

a:link { color:blue;}
a:visited { color: darkblue;}
a:hover { color: white;}
a:active { color: green;}

footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: center;
}

/*Michael Hudson*/
h1 {
  font-family: marker felt;
  font-size: 42px;
  color: white;
}
/*Intro */
h2 {
  font-family: marker felt;
  font-size: 28px; 
  color: white; 
}
/*About Me + Contact style*/
h3 {
  font-family: marker felt;  
  font-size: 24px;
  text-align: left:
}
/*Footer style*/
h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: black;
}
/*all paragraph text style*/
p {
  font-family: times 'Times New Roman', Times, serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: left;
}
/*favorite teams list */
ul {
  text-align: left;
  list-style-position: inside;
}
/*contact list */
ol {
  text-align: left;
  list-style-position: inside;
  list-style-type: disc;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
/*list elements */
li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  
}
/*centers header h2 */
div {
  text-align: center;
}